<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties"></properties>
    <typeAliases>
        <!-- 使用自动扫描的形式来定义别名，在Role中使用@Alias("role")注解进行说明-->
        <package name="bean"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${driver}" />
                <property name="url" value="${url}" />
                <property name="username" value="${username}" />
                <property name="password" value="${password}" />
                <property name="poolMaximumActiveConnections" value="${poolMaximumActiveConnections}" />
                <property name="poolMaximumIdleConnections" value="${poolMaximumIdleConnections}" />
                <property name="poolTimeToWait" value="${poolTimeToWait}" />
                <property name="poolMaximumCheckoutTime" value="${poolMaximumCheckoutTime}" />

            </dataSource>
        </environment>
    </environments>
    <mappers>
       <mapper resource="sqlMapper/RoleMapper.xml" />
       <mapper resource="sqlMapper/ScreeningUserInfoMapper.xml" />
       <mapper resource="sqlMapper/NewcomBag.xml" />
       <mapper resource="sqlMapper/RegisterInfo.xml" />
       <mapper resource="sqlMapper/LoginResult.xml" />
       <mapper resource="sqlMapper/LoginData.xml" />
    </mappers>
</configuration>