<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ScreeningUserInfoMapper">

    <insert id="insertScreeningUserInfo" parameterType="ScreeningUserInfo">
/*user_id
operation_count
user_online_time
create_time
backup
page_type*/
        INSERT INTO screening_user_info
        (user_id,
        operation_count,
        user_online_time,
        create_time,
        page_type)
        VALUES
        (#{userId},
        #{operationCount},
        #{userOnlineTime},
        date_sub(curdate(),interval #{dayFlag} day),
        #{pageType})
    </insert>

</mapper>